<!DOCTYPE>
<html ng-app>
	<head>
		<script type="text/javascript" src='socket.io/socket.io.js'></script>
		<script type="text/javascript" src='/angular.js'></script>
		<script type="text/javascript" src='/ace.js'></script>
		<script type='text/javascript' src='/theme-github.js'></script>
		<script type="text/javascript" src='/mode-javascript.js'></script>
	    <script type="text/javascript" src='/daedalusClient.js'></script>  
	<!--	<script type="text/javascript" src='editorCtrl.js'></script> -->
		<link rel="stylesheet" href="/daedalus.css" />		
	</head>
	<body>
		<div id="bodyContainer">
			<div id="navBar">
				<div class='navElem'>Elem 1</div>
				<div class='navElem'>Elem 2</div>
				<div class='navElem'>Elem 3</div>
				<div class='navElem'>Elem 4</div>
				<div class='navElem'>Elem 5</div>
			</div>
			<div id="contentContainer">
				<div id="services" ng-controller='editorCtrl'>
					<input type='text' id='searchText' ng-model='someText'/><br/>
					<button id='findButton' ng-click='find()'>Find</button>
					<button id='findNextButton' ng-click='myRepos()'>Find Next</button><br/>
					<button id='apis' ng-click='gitLogin()'>APIs</button>
					<p>{{scroll}}</p>
				</div>
				<div id="editor">Editor</div>
				<div id='minimap'></div>
			</div>
		</div>
	</body>
</html>